.mat-sidenav-container {
  height: 100%;
  background: white;
  color: rgb(217, 196, 196); /* Default text color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Add a smooth transition effect on color change */
}
.mat-sidenav {
  width: 180px;
}
.main {
  position: relative;
  margin-top: 68px;
  z-index: 5;
}
.mat-toolbar {
  top: 0;
  position: fixed;
  color: darkred;
  z-index: 999;
  background-color: #f7f7f8;
  border-color: #707070;
  border-width: 1px;
  overflow-x: hidden;
  width: 100%;
  height: 68px;
  padding: 0px 2vw;
  cursor: move;
  padding-bottom: 20px;
}

.header--logo {
  vertical-align: middle;
  cursor: pointer;
  /* UX enhancement */
  padding-left: 20%;

  /* UX enhancement end */
}

.spacer {
  flex: 1 1 auto;
}
.list-item > .mat-list-item {
  color: #100c0c !important;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: 200;
}
.list-item > .mat-list-item:hover {
  transform: scale(
    1
  ); /* You can adjust the scale value based on your preference */
  background-color: #e07070; /* Change to a different color on hover */
  color: #f3d215;
  cursor: pointer; /* Change cursor on hover, e.g., to a pointer */
}
.list-item {
  display: inline-flex;
  padding: 0px;
  margin-left: 25px;
}
.icon {
  color: #0f0606 !important;
}
.sidenav-list > .mat-list-item {
  color: rgb(25, 23, 23);
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s; /* Add a smooth transition effect on color change */
}

.sidenav-list > .mat-list-item:hover {
  color: black; /* Default color for all links */
}

.sidenav-list > .mat-list-item:hover.router-link-active {
  color: red; /* Change color to red when hovered and active (visited) */
}

.header__actions {
  text-transform: none !important;
}

@media (min-width: 670px) {
  .sidenav-button {
    display: none;
  }
}
@media (max-width: 670px) {
  .list-item {
    display: none;
  }
}
